@model IEnumerable<teveguide.Models.db.tv_shows>

@{
    ViewBag.Title = "På teve just nu";
}

<strong>Vi tipsar om dessa program</strong>
<br />

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@*Testar att lägga in en länk till en specifik datapost*@




<table class="table">
   

        <tr>
            <td>


              @Html.ActionLink("Puff1", "Details", new { id = 12 })

            </td>

            <td>
                @Html.ActionLink("Puff 2", "Details", new { id = 5 })

            </td>

            <td>
                @Html.ActionLink("Puff 3", "Details", new { id = 21 })
            </td>
            </tr>

</table>

